html, body {
	height: 100%;
	background-color: #003333;
	/* The html and body elements cannot have any padding or margin. */
/*	font-family: "Microsoft YaHei" ! important;
*/}
a {
    color: #D8D8D8;
}
a:link {
    text-decoration: none;
    color: #D8D8D8;
}
a:hover {
    text-decoration: none;
}
p {
	color: #fff;
}
ul.nav {
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 8px;
}
label {
	padding-top: 10px;
}
.modal {
	padding-top: 40px;
}